<div class="container">
  <div class="row">
    <div class="col" (click)='export(content)'>
      EXPORT
    </div>
  </div>
  <div class="row">
    <div class="col" id='editor' data-container='editor' data-component='form-component' [dragula]='"bag-task1"' #editor>

    </div>

    <div class="col">
      <div class="d-flex flex-column">

        <div class="p-2" [dragula]='"bag-task1"'>
          <button type="button" data-component='button' class="btn btn-primary">Button</button>
        </div>

        <div class="p-2" [dragula]='"bag-task1"'>

          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">

        </div>

        <div class="p-2" [dragula]='"bag-task1"'>

          <label for="exampleFormControlSelect1">Example select</label>
          <select class="form-control" id="exampleFormControlSelect1">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>

        </div>

        <div class="p-2" [dragula]='"bag-task1"'>

          <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
          <label class="form-check-label" for="defaultCheck1">
            Default checkbox
          </label>

        </div>

        <div class="p-2" [dragula]='"bag-task1"'>

          <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
            <label class="form-check-label" for="exampleRadios1">
              Default radio
            </label>
          </div>

        </div>

        <div class="p-2" [dragula]='"bag-task1"'>
          <p data-component='text'>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras venenatis nibh eu purus cursus, vitae malesuada nisi pretium.
            Phasellus nec efficitur quam. Sed ultrices interdum velit, at congue enim viverra at. In in massa non augue scelerisque
            fermentum eget sed nisl. Ut auctor elit ac mauris condimentum porttitor. Etiam quis nulla rhoncus dolor dictum
            molestie.
          </p>
        </div>

        <div class="p-2" [dragula]='"bag-task1"'>
          <h1>Heading H1</h1>
        </div>

        <div class="p-2" [dragula]='"bag-task1"'>
          <h2>Heading H2</h2>
        </div>

        <div class="p-2" [dragula]='"bag-task1"'>
          <h3>Heading H3</h3>
        </div>

        <div class="p-2" [dragula]='"bag-task1"'>
          <h4>Heading H4</h4>
        </div>

        <div class="p-2" [dragula]='"bag-task1"'>
          <h5>Heading H5</h5>
        </div>

        <div class="p-2" [dragula]='"bag-task1"'>
          <h6>Heading H6</h6>
        </div>

        <div [dragula]='"bag-task1"'>
          <div class="alert alert-primary" role="alert">This is a primary alert—check it out!</div>
        </div>
        <div [dragula]='"bag-task1"'>
          <div class="alert alert-secondary" role="alert">This is a secondary alert—check it out!</div>
        </div>
        <div [dragula]='"bag-task1"'>
          <div class="alert alert-success" role="alert">This is a success alert—check it out!</div>
        </div>
        <div [dragula]='"bag-task1"'>
          <div class="alert alert-danger" role="alert">This is a danger alert—check it out!</div>
        </div>
        <div [dragula]='"bag-task1"'>
          <div class="alert alert-warning" role="alert">This is a warning alert—check it out!</div>
        </div>
        <div [dragula]='"bag-task1"'>
          <div class="alert alert-info" role="alert">This is a info alert—check it out!</div>
        </div>
        <div [dragula]='"bag-task1"'>
          <div class="alert alert-light" role="alert">This is a light alert—check it out!</div>
        </div>
        <div [dragula]='"bag-task1"'>
          <div class="alert alert-dark" role="alert">This is a dark alert—check it out!</div>
        </div>

        <div [dragula]='"bag-task1"'>
          <img src="http://placekitten.com/100/100" data-component='image' class="img" alt="Responsive image">
        </div>

        <div [dragula]='"bag-task1"'>
          <table class="table" (click)="openEditorModal($event)">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>
</div>


<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Modal title</h4>
    <button type="button" class="btn btn-outline-dark" ngxClipboard (cbOnSuccess)="copySuccess()" cbContent="{{htmlToExport}}">Copy</button>

    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <code>{{htmlToExport}}</code>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
  </div>
</ng-template>

<simple-notifications></simple-notifications>
