<div class="container">
  <div class="row">
    <div class="col" (click)='export(content)'>
      EXPORT
    </div>
  </div>
  <div class="row">
    <div class="col" id='editor' data-container='editor' data-component='form-component' [dragula]='"bag-task1"' #editor>

    </div>

    <div class="col">
      <div class="d-flex flex-column">

        <div class="p-2" [dragula]='"bag-task1"'>
          <button type="button" data-component='button' class="btn btn-primary">Button</button>
        </div>

        <div class="p-2" [dragula]='"bag-task1"'>
          <p data-component='text'>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras venenatis nibh eu purus cursus, vitae malesuada nisi pretium.
            Phasellus nec efficitur quam. Sed ultrices interdum velit, at congue enim viverra at. In in massa non augue scelerisque
            fermentum eget sed nisl. Ut auctor elit ac mauris condimentum porttitor. Etiam quis nulla rhoncus dolor dictum
            molestie.
          </p>
        </div>

        <div class="p-2" [dragula]='"bag-task1"'>
          <h1 data-component='heading'>Heading</h1>
        </div>

        <div [dragula]='"bag-task1"'>
          <img src="http://placekitten.com/100/100" data-component='image' class="img" alt="Responsive image">
        </div>

      </div>
    </div>
  </div>
</div>


<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Modal title</h4>
    <button type="button" class="btn btn-outline-dark" ngxClipboard (cbOnSuccess)="copySuccess()" cbContent="{{htmlToExport}}">Copy</button>

    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <code>{{htmlToExport}}</code>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
  </div>
</ng-template>

<simple-notifications></simple-notifications>
